
<%- layout('base') %>

<!-- Begin page heading -->
<h1 class="page-heading">유치원생 관리 프로그램 <small>Database 디빙디밍조</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
  <li><a href="/"><i class="fa fa-home"></i></a></li>
  <li><a href="/health">건강상 주의 원생</a></li>
  <li class="active">건강 이상 조회</li>
</ol>
<!-- End breadcrumb -->

<!-- Begin addresses and blockquote -->
<div class="row">
  <div class="col-sm-6">
    <div class="the-box">
      <h4 class="small-title">총 건강 이상 원생</h4>
      <address>
        <strong>병아리반</strong><br>
        231343명<br>
      </address>

      <address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">first.last@example.com</a>
      </address>
    </div><!-- /.the-box -->
  </div><!-- /.col-sm-6 -->
  <div class="col-sm-6">
    <div class="the-box">
      <blockquote>
        <p>병아리반 | 김경이 | 961018 : 피로누적</p>
        <small>과도한 음주를 자제해주세요.</small>
      </blockquote>
      <blockquote>
        <p>여우반 | 김혜진 | 960823 : 우울증</p>
        <small>음주를 권합니다.</small>
      </blockquote>
    </div><!-- /.the-box -->
  </div><!-- /.col-sm-6 -->
</div><!-- /.row -->
<!-- End addresses and blockquote -->
