
<%- layout('base') %>

<!-- Begin page heading -->
<h1 class="page-heading">DASHBOARD [UPDATED] <small>Sub heading here</small></h1>
<!-- End page heading -->

  <!-- BEGIN EXAMPLE ALERT -->
  <div class="alert alert-success alert-block square fade in alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p><strong>Welcome!</strong></p>
    <p>You probably here cause wanna know how is <a class="alert-link" href="#fakelink">Sentir UI kits template</a>, or you have purchased it. But whatever! I just wanna
    say thank you for viewing or purchasing my work.
    This is the new dashboard page, hope it more usable for your awesome projects.
    And let me know your feedback! <i class="fa fa-smile-o"></i></p>
  </div>
  <!-- END EXAMPLE ALERT -->
