
<%- layout('base') %>

<!-- Begin page heading -->
<h1 class="page-heading">유치원생 관리 프로그램 <small>Database 디빙디밍조</small></h1>
<!-- End page heading -->

  <!-- BEGIN EXAMPLE ALERT -->
  <div class="alert alert-success alert-block square fade in alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p><strong>안녕하세요!</strong></p>
    <p>유치원은 7세 이하의 어린이들이 모여 보육이 이루어지는 곳입니다. 어린이들은 스스로 자기 관리가 되지 않기 때문에 원생마다 교사들의 세심한 주의가 필요하죠.<br/>
      따라서 저희는 유치원에서 각 원생들에 대한 정보를 한 눈에 파악하여 안전 사고에 대처하고, 원생들을 쉽게 관리할 수 있도록 ‘유치원생 관리 프로그램’을 고안하게 되었습니다.<br/>
      유치원생 관리 프로그램은 원생의 이름, 생년월일, 학부모 연락처, 소속 반 등 각 원생에 대한 기본적인 정보를 조회해볼 수 있고, 원생 등록과 삭제, 정보 수정이 가능합니다.<br/>
      추가적인 기능으로 반별 담임 교사 및 소속 원생 조회와 성별 비율 및 나이별 통계 기능도 존재합니다.<br/>
      또한, 질병이나 알레르기 등 건강상 이유로 특별히 주의해야 하는 원생에 대해 조회해볼 수 있는 기능과 당일 식단이 입력되었을 때,<br/>
      해당 식재료에 알러지가 있는 원생을 나타내어 주의할 수 있도록 알려주는 기능도 포함합니다.<br/>
      이 프로그램을 통해 유치원 관계자는 소속 원생들의 정보를 손쉽게 관리하고 조회할 수 있으며,
      원생 정보를 숙지하지 못해 일어나는 부주의한 사고(알러지 유발 사고 및 천식과 같은 건강사고)를 방지할 수 있을 것입니다. <i class="fa fa-smile-o"></i></p>
  </div>
  <!-- END EXAMPLE ALERT -->
