
<%- layout('base') %>


<!-- Begin page heading -->
<h1 class="page-heading">Register <small> 회원가입</small></h1>
<!-- End page heading -->


<div class="the-box">
  <legend>Sign Up</legend>
  <form id="RegisterForm" method="post" class="form-horizontal" action="/register"
            enctype="multipart/form-data"
            data-bv-message="This value is not valid"
            data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
            data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
            data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
          <div class="form-group">
            <label class="col-lg-3 control-label">ID</label>
            <div class="col-lg-4">
              <input type="text" class="form-control" name="id" placeholder="User ID" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Password</label>
            <div class="col-lg-4">
              <input type="password" class="form-control" name="pw" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Username</label>
            <div class="col-lg-4">
              <input type="text" class="form-control" name="name" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Class</label>
            <div class="col-lg-4">
              <select class="form-control" name="class">
                <option value="">-- 담당 반 선택 --</option>
                <option value="1">병아리반</option>
                <option value="2">코끼리반</option>
                <option value="3">팬더반</option>
                <option value="4">펭귄반</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">H.P</label>
            <div class="col-lg-4">
              <input type="text" class="form-control" name="phonenum" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Email</label>
            <div class="col-lg-4">
              <input class="form-control" name="email" type="email" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Address</label>
            <div class="col-lg-4">
              <input type="text" class="form-control" name="address" />
            </div>
          </div>

          <div class="form-group">
          <label class="col-lg-3 control-label">Input single file</label>
            <div class="col-lg-4">
              <input class="note-image-input" type="file" name="photo" accept="image/*">
            </div><!-- /.input-group -->
          </div><!-- /.form-group -->

          <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
              <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
          </div>
        </form>
</div><!-- /.the-box -->
